name: Swift

on:
  pull_request:
    branches: [ main ]
  schedule:
    - cron:  '0 3 * * *'

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
      with:
         github_token: ${{ secrets.WALLPAPER_ACTION_TOKEN }}
         branch: main
    - name: Run
      run: swift run
      
    - name: Commit files
      run: |
         git config --local user.email "jie_liu3@icloud.com"
         git config --local user.name "Zijie Liu"
         git add .
         git commit -m "Update json"
         git push --force origin HEAD:main

    
